@font-face {
  font-family: 'Caveat';
  src: url(./fonts/Caveat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url(./fonts/Caveat-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}


@import "./variables";
@import "bootstrap";
@import "./globalStyles.scss";